<!DOCTYPE html>
<html>
        <link rel="stylesheet" type="text/css" href="/pages/Bottombackground.css">
        <link href="https://fonts.googleapis.com/css?family=Assistant:400,800&display=swap" rel="stylesheet">
<summary>

    <a href="C:\GetWaiterProject\views\pages\home.ejs">
        <p>דף הבית</p>
    </a>

    <a href="#odot">
        <p>אודות</p>

    </a>

    <a href="">
        <p>איך זה עובד </p>
    </a>

    <a href="C:\GetWaiterProject\views\pages\ContactUs.ejs">
        <p>צור קשר</p>
    </a>
  
</summary>
</html>