<!doctype html>
<html>

<head>
    <title>דף הבית</title>
    <!-- <link rel="stylesheet" type="text/css" href="/pages/home.css">
    <link href="https://fonts.googleapis.com/css?family=Assistant:400,800&display=swap" rel="stylesheet"> -->
</head>


<body>
    <%- include Topbackground %>
 
    <img class="img" src="/pages/XPm7K5tY.jpg">

    <div class="about"><b class="b"><a id='odot'>אודות</a></b><br>

        .זה המקום שבו המלצרים ובעלי האירועים נפגשים GET WAITER<br>

        .מספקים את מקום המפגש בין בעלי אולמות אירועים וקייטרינג לבין מלצרים מכל הארץGET WAITER

        <br>

        אנחנו באים עם ניסיון של שנים בתחום האירועים ונותנים לשני הצדדים את היכולת לדעת הכל על

        זה על זה כשהמטרה היא אירוע מושלם<br>

        GETהצטרפו עוד היום לשינוי החברתי שלנו ב </div>

    <img class="img2" src="/pages/cccccc.PNG">
    <%- include Bottombackground %>
</body>


</html>